<head>
  <meta charset="utf-8"> <!-- set character encoding for the document -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Allows control over where resources are loaded from -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  <meta name="description" content="A description of the page">
  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow,noodp"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <!-- Short description of your site's subject -->
  <meta name="subject" content="your website's subject">
  <!-- Full domain name or web address -->
  <meta name="url" content="{{ page.href }}">

  <!-- favicon stuff: just go to http://realfavicongenerator.net/ and paste in the info necessary -->

  <!-- <meta property="fb:app_id" content="123456789"> -->
  <meta property="og:url" content="{{ page.href }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.contenttitle }}">
  <meta property="og:image" content="{{ page.imagelink }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ page.sitename }}">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="">
  <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup -->
  <!-- Open Graph: http://ogp.me/ -->

  <meta name="twitter:card" content="summary">
  <!-- <meta name="twitter:site" content="@site_account"> -->
  <meta name="twitter:creator" content="{{ page.twitterhandle }}">
  <meta name="twitter:url" content="{{ page.href }}">
  <meta name="twitter:title" content="{{ page.contenttitle }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.imagelink }}">
  <!-- More info: https://dev.twitter.com/cards/getting-started -->
  <!-- Validate: https://dev.twitter.com/docs/cards/validation/validator -->

  <!-- <link href="https://plus.google.com/+YourPage" rel="publisher"> -->
  <meta itemprop="name" content="{{ page.contenttitle }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta itemprop="image" content="{{ page.imagelink }}">

  <!-- thanks to Josh Buchea and the other contributors at https://github.com/joshbuchea/HEAD for the head tags -->


  <link href="css/styles.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("a#nav_button").click(function(){
        $("div.l_nav_container").slideToggle(500);
      });
    });
  </script>

    <title>Title</title>

</head>
